:root, .dark {
  /* Default Dark Theme */
  --ui-bg: #030712; /* gray-950 */
  --ui-bg-elevated: #111827; /* gray-900 */
  --ui-bg-accent: #1f2937; /* gray-800 */
  --ui-border: #1f2937; /* gray-800 */
  --ui-text: #e5e7eb; /* gray-200 */
  --ui-text-muted: #9ca3af; /* gray-400 */
}
